AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: None
AlignOperands: AlignAfterOperator
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 120
CompactNamespaces: false
Cpp11BracedListStyle: true
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Never
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentPPDirectives: None
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
